<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qjn.xiangxi_system.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="com.qjn.xiangxi_system.pojo.Article">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="cover" column="cover" jdbcType="VARCHAR"/>
            <result property="date" column="date" jdbcType="VARBINARY"/>
            <result property="likes" column="likes" jdbcType="INTEGER"/>
            <result property="descr" column="descr" jdbcType="VARCHAR"/>
            <result property="userid" column="userid" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,descr,
        cover,content,likes,
        date,userid
    </sql>
    <!-- 批量删除 -->
    <delete id="deleteBatch" parameterType="java.util.List">
        DELETE FROM article WHERE id IN
        <foreach item="id" index="index" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 根据ID查询文章及用户信息 -->
    <select id="selectByIdWithUser" resultType="com.qjn.xiangxi_system.pojo.vo.ArticleVO">
        SELECT a.*, u.name,u.avatar
        FROM article a
        LEFT JOIN user u ON a.userid = u.id
        WHERE a.id = #{id}
    </select>

    <!-- 分页查询所有文章及用户信息 -->
    <select id="selectAllWithUser" resultType="com.qjn.xiangxi_system.pojo.vo.ArticleVO">
        SELECT a.*, u.name
        FROM article a
        LEFT JOIN user u ON a.userid = u.id
        ORDER BY a.date DESC
    </select>

    <select id="findHot" resultType="com.qjn.xiangxi_system.pojo.vo.ArticleVO">
        SELECT a.*, u.name
        FROM article a
        LEFT JOIN user u ON a.userid = u.id
        ORDER BY a.likes DESC
    </select>
    <select id="findByUserId" resultType="com.qjn.xiangxi_system.pojo.Article">
        SELECT * FROM article WHERE userid = #{userId}
    </select>
</mapper>
