<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qjn.xiangxi_system.mapper.CommentsMapper">

    <resultMap id="BaseResultMap" type="com.qjn.xiangxi_system.pojo.Comments">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="articleId" column="article_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <result property="likes" column="likes" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,article_id,user_id,
        parent_id,likes,content,
        created_at
    </sql>
    <update id="likeComment">
        update comments set likes=likes+1 where id=#{commentId}
    </update>
    <delete id="deleteComment">
        delete from comments where id=#{commentId}
    </delete>
    <delete id="deleteChildComment">
        delete from comments where parent_id=#{commentId}
    </delete>
    <!--获取文章对应的评论-->
    <select id="getCommentsByArticleId" resultType="com.qjn.xiangxi_system.pojo.vo.CommentsVO">
        select c.id,c.article_id,c.user_id,c.parent_id,c.likes,c.content,c.created_at,u.name,u.avatar from comments c left join user u on c.user_id=u.id where c.article_id=#{articleId} order by c.created_at desc
    </select>
</mapper>
