<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qjn.xiangxi_system.mapper.NewsMapper">

    <resultMap id="BaseResultMap" type="com.qjn.xiangxi_system.pojo.News">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="cover" column="cover" jdbcType="VARCHAR"/>
            <result property="summary" column="summary" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="publishTime" column="publish_time" jdbcType="VARCHAR"/>
            <result property="readCount" column="read_count" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,cover,
        summary,content,publish_time,
        read_count
    </sql>
    <delete id="deleteBatch">
        delete from news where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="getNewsByTime" resultType="com.qjn.xiangxi_system.pojo.News">
        select * from news order by publish_time desc
    </select>
</mapper>
