<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qjn.xiangxi_system.mapper.OrdersMapper">

    <resultMap id="BaseResultMap" type="com.qjn.xiangxi_system.pojo.Orders">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userid" column="userId" jdbcType="INTEGER"/>
            <result property="travelid" column="travelId" jdbcType="INTEGER"/>
            <result property="orderdate" column="orderDate" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="totalprice" column="totalPrice" jdbcType="DECIMAL"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,travelId,orderDate,
        status,totalPrice,quantity
    </sql>
    <!-- 批量删除 -->
    <delete id="deleteBatch">
        DELETE FROM orders WHERE id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="getAllOrders" resultType="com.qjn.xiangxi_system.pojo.vo.OrdersVO">
        SELECT 
            o.*,
            t.title,
            t.cover,
            t.money,
            u.username
        FROM 
            orders o
        LEFT JOIN 
            travels t ON o.travelid = t.id
        LEFT JOIN 
            user u ON o.userid = u.id
        <where>
            <if test="title != null and title != ''">
                AND t.title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="orderId != null and orderId != ''">
                AND o.id = #{orderId}
            </if>
        </where>
        ORDER BY 
            o.orderdate DESC
    </select>
    <select id="getUserOrders" resultType="com.qjn.xiangxi_system.pojo.vo.OrdersVO">
        SELECT 
            o.*,
            u.username,
            t.title,
            t.cover,
            t.money 
        FROM 
            orders o, user u, travels t 
        WHERE 
            o.userid = u.id 
            AND o.travelid = t.id 
            AND o.userid = #{userId}
            <if test="title != null and title != ''">
                AND t.title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="orderId != null and orderId != ''">
                AND o.id = #{orderId}
            </if>
        ORDER BY 
            o.orderdate DESC
    </select>
</mapper>
