<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qjn.xiangxi_system.mapper.TravelsMapper">

    <resultMap id="BaseResultMap" type="com.qjn.xiangxi_system.pojo.Travels">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="cover" column="cover" jdbcType="VARCHAR"/>
            <result property="descr" column="descr" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="time" column="time" jdbcType="VARCHAR"/>
            <result property="readCount" column="read_count" jdbcType="INTEGER"/>
            <result property="startDate" column="start_date" jdbcType="VARCHAR"/>
            <result property="money" column="money" jdbcType="VARCHAR"/>
            <result property="inventory" column="inventory" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,cover,
        descr,content,time,
        read_count,start_date,money,inventory,
    </sql>
    <!-- 批量删除 -->
    <delete id="deleteBatch">
        DELETE FROM travels WHERE id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectAllByRead" resultType="com.qjn.xiangxi_system.pojo.Travels">
        SELECT * FROM travels ORDER BY read_count DESC
    </select>
    <!--多表查询旅游商品标签-->
    <select id="selectTags" resultType="string">
        select tag_name from tags,travels,travels_tags where travels.id = travels_tags.travel_id and tags.tag_id = travels_tags.tag_id and travels.id = #{id}
    </select>
</mapper>
