<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qjn.xiangxi_system.mapper.TravelsMapper">

    <resultMap id="BaseResultMap" type="com.qjn.xiangxi_system.pojo.Travels">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="cover" column="cover" jdbcType="VARCHAR"/>
            <result property="descr" column="descr" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="time" column="time" jdbcType="VARCHAR"/>
            <result property="readCount" column="read_count" jdbcType="INTEGER"/>
            <result property="startDate" column="start_date" jdbcType="VARCHAR"/>
            <result property="money" column="money" jdbcType="VARCHAR"/>
            <result property="inventory" column="inventory" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,cover,
        descr,content,time,
        read_count,start_date,money,inventory,
    </sql>
    <!-- 批量删除 -->
    <delete id="deleteBatch" parameterType="java.util.List">
        DELETE FROM travels WHERE id IN
        <foreach item="id" index="index" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectAllByRead" resultType="com.qjn.xiangxi_system.pojo.Travels">
        SELECT id,title,cover,descr,inventory,content,time,read_count AS readCount,start_date AS startDate,money
        FROM travels
        ORDER BY read_count DESC
    </select>
</mapper>
